@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #16a085;
  
}
::-webkit-scrollbar-track {
  background: #9b9c9c;
}